<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      div {
        display: inline-block;
        width: 100px;
        height: 100px;

        /* position: relative; */
      }
      #primero {
        float: right;
      }
      p {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div id="primero" style="background: rgb(25, 225, 95)"></div>
    <p>
      En algunas ocasiones, es posible que necesite varios párrafos de texto de
      relleno con el fin de realizar pruebas con el formato del documento y
      realizar ajustes para encontrar el efecto visual deseado. Para esta tarea,
      Word dispone de una función que pocos conocen, que tiene la capacidad de
      generar varios párrafos de manera automática con el número de líneas de
      texto que se requieran
    </p>
  </body>
</html>
