.tarjeta {
  @apply rounded-xl m-4 text-gray-700 text-xs mx-4 nm-flat-white overflow-hidden;
}
.boton {
  @apply text-sm font-bold py-1 px-4 rounded-full;
}
.boton--gris {
  @apply nm-flat-gray-100 hover:bg-gray-200;
}
.label {
  @apply block uppercase text-xs font-bold mb-6;
}
.input {
  @apply nm-inset-gray-100 w-full border rounded-xl p-2 focus:outline-none focus:bg-white focus:border-gray-500;
}
.boton--negro {
  @apply text-white nm-flat-gray-700 hover:bg-gray-800;
}
/* .botones {
  @apply bg-gradient-to-r from-gray-700 via-gray-200 to-gray-200 px-4 py-3 flex justify-between;
} */
/*
.boton--rojo {
  @apply text-red-500 nm-flat-gray-100 border border-red-500 hover:bg-red-500 hover:text-white;
}

.auth {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


*/
